.wrap {
  width: 1080px;
  margin: auto;
  padding: 80px 30px;
  background-color: #ffffff;
}

.list-title {
  margin-bottom: 30px;
}

.list-title span {
  font-weight: 900;
  font-size: 30px;
  position: relative;
  right: 326px;
  top: 44px;
}

.list-title img:first-child {
  transform: translateX(-14px);
}

.list-title img:nth-child(2) {
  transform: translateX(102px);
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 109px;
  bottom: 22px;
  transform: scale(0.75);
}

#searchInput {
  width: 80%;
  background-color: #dddddd;
  color: var(--default);
  font-size: 25px;
  border-radius: 30px;
  padding-left: 55px;
  margin-bottom: 20px;
}

#searchInput:focus {
  box-shadow: 0 0 1px 1px var(--orange);
  border: 0.5px solid var(--orange);
}

#searchInfo {
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 20px;
}


.filters {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #2E2525FF;
    border-radius: 5px;
    /*margin-bottom: 30px;*/
    height: 60px;
}

.filter-row {
  display: flex;
  /*margin: 10px 0px;*/
}

.filter-one {
  display: flex;
  width: 50%;
  align-items: flex-start;
}

.filter-values {
    display: flex;
    background-color: #2E2525FF;
    color:white
}

.filter-key {
    background-color: var(--orange);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    width: 90px;
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 20px;
    text-shadow: 1px 1px 1px gray;
}

.filter-values {
  /*background-color: #63a355;*/
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none
}
.filter-values:hover{
    box-shadow: 0 1px 5px 3px rgba(0,0,0,.12);
}

.filter-value {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color:transparent;
}

.filter-values .current {
  color: var(--default);
}

.filter-value:hover {
  color: white;
}


.list-sort a {
  margin-right: 15px;
  color: #8c8c8c;
  transition: all 0.1s ease-in-out;
}
.list-sort {
  font-size: 20px;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 15px;
}

.list-sort .current {
  font-weight: 600;
  color: var(--default);
}



.list-sort a:hover {
  font-weight: 600;
  color: var(--default);

}

.spinner-border {
  margin-top: 30px;
}

.naviBar {
    background-color: #63a355;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
}

.naviBar ul li {
    list-style: none;
    color: #3A3845;
    background-color: #63a355;
    float: left;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
}

.naviBar .logoIcon {
    height: 65px;
    transition: all 0.3s ease-in-out;
    margin-left: 55px;
    margin-right: 55px;
}

.naviBar .logoIcon:hover {
  transform: rotateY(180deg) scale(1.2);
}

.menuLink {
    text-decoration: none;
    color: #3A3845;
    display: block;
    width: 180px;
    font-size: 18px;
    font-weight: bolder;
}

.menuLink:hover {
    transition: 0.5s;
    font-size: 19px;
    text-decoration: none;
    color: #3A3845;
    background: #FFF3ED;
}

.myPageLink {
    position: absolute;
    right: 19%;
}

.loginIcon {
    height: 38px;

}

.loginIcon:hover {
    transition: 0.5s;
    transform: scale(1.08)
}

.footer_paginator {
    background-color: black;
    width: 1000px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}