<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/detail.css/">



    <title>상세 레시피 페이지</title>

</head>
<body>
<nav class="naviBar">
    <ul>
        <li><a class="logoLink" href="/"><img class="logoIcon" src="/static/image/source/logo.png"></a></li>
        <li><a class="menuLink" href="/search">전체 레시피 보기</a></li>
        <li><a class="menuLink" href="/rank">랭킹 보기</a></li>
        <li><a class="menuLink" href="/write">나만의 레시피</a></li>
        <li><a class="menuLink" href="/mypage">마이페이지</a></li>

        {% if user.is_authenticated %}
            <li> {{ user }} 님 반갑습니다</li>
            <li><a class="menuLink" href="/logout"> 로그아웃 </a></li>
        {% else %}
          <li>
              <a class="myPageLink" href="/login"
              ><img src="/static/image/source/myPageIcon.png" class="loginIcon"
              /></a>
          </li>
        {% endif %}
    </ul>
</nav>
  
<div class="wrap">
    <div class="detailWrap">
        <div class="detailImgWrap" id="imgWrap">
            <!--                레시피 이미지 들어가는 부분-->
            <img  src="{{ recipe.img_url }}" style="width: 500px; height: auto">
            <h3 style="margin: 20px 0;">{{ recipe.title }}--{{ recipe.id }}</h3>
            {% if not like_status %}
                <form method="post" action="/detail/like/{{ recipe.id }}">
                    {% csrf_token %}
                    <button class="btn btn-success" style="margin: 20px 0;">꺼야꺼야 요리할꺼야</button>
                </form>
            {% else %}
                <form method="post" action="/detail/like/{{ recipe.id }}">
                    {% csrf_token %}
                    <button class="btn btn-danger" style="margin: 20px 0;">아니아니 안할꺼야</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="imforWrap">
        <div class="container">
            <div class="sortBar">
                <ul class="tabs">
                    <li class="recipeSort current" data-tab="tab-1">레시피</li>
                    <li class="recipeSort" data-tab="tab-2">조리과정</li>
                    <li class="recipeSort" data-tab="tab-3">리뷰</li>
                </ul>
            </div>
            <div class="contentWrap">
                <div id="tab-1" class="tabContent current">
                    <div class="iconWrap" id="iconWrap">
                        <!--                                조리시간, 난이도 아이콘 들어가는 정보 박스 부분-->
                        <p style="font-size: 25px"><img class="size20" src="../static/image/source/diffIcon.png">
                            {{ recipe.timecost }}
                            <span style="width: 20px"></span>
                            <img class="size20" src="../static/image/source/timeIcon.png">
                            {{ recipe.difficulty }}</p>
                    </div>
                    <div class="ingredientWrap">
                        <span class="ingTitle">📌 최소한 이건 준비하자!</span>
                        <ul class="ingList" id="ingList">
                            <!--                                    레시피 재료 들어가는 부분-->
                            {% for ing in ing_list %}
                                {{ ing }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="tab-2" class="tabContent">
                    <div class="processWrap">
                        <span class="processTitle">📌 이정돈 만들 수 있다!</span>
                        <ul class="processList" id="processList">
                            <!--                                    레시피 조리과정 들어가는 부분-->
                            {% for step in cookstep_list %}
                                <p>{{ step }}</p>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="tab-3" class="tabContent">
                    <div class="reviewWrap">
                        <span class="reviewTitle">📌 나도 만들었다! 내가 만든 요리 후기
                            <form action="/detail/comment/{{ recipe.id }}" method="post">
                                {% csrf_token %}
                                <div class="reviewWrite">
                                    <input type="text" placeholder="후기를 작성해주세요!" class="comment" id="comment"
                                           name="comment">
                                    <button type="submit" class="reviewBtn" id="reviewPostBtn">등록</button>
                                </div>
                            </form>
                        <hr class="line">
                            <div class="reviewListWrap" id="reviewList">
                                <!-- 리뷰 List 들어가는 부분-->
                                {% for cm in comment %}
                                    {% if cm.comment_me == user %}
                                        <div style="text-align: right">
                                            <a href="/detail/comment/delete/{{ cm.id }}">
                                                <span class="badge rounded-pill bg-danger">삭제</span>
                                            </a>
                                        </div>

                                        <div style="text-align: right">
                                        <a href="/detail/comment/update/{{ cm.id }}">
                                            <span class="badge rounded-pill bg-success">수정</span>
                                        </a>
                                    </div>
                                    {% endif %}
                                    <div>
                                        <h5>{{ cm.comment_content }} <span
                                                style="font-size: 12px">{{ cm.comment_me }}-{{ cm.created_at|timesince }} 전</span> </h5>
                                    </div>
                                {% endfor %}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/detail.js/"></script>
</body>